/* src/components/Sidebar.css */
.sidebar-container {
  display: flex;
}

.hamburger {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.sidebar ul .not-active {
  color: #ffffff;
  font-weight: normal;
  display: flex;
  align-self: center;
}

.sidebar ul li:hover{
  background-color: #555;
}

.sidebar ul li span {
  margin-left: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* Sidebar styles for desktop view */
.sidebar-container {
  display: flex;
}

/* Desktop-specific sidebar settings */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transform: translateX(0);
    transition: none;
    z-index: 1000;
  }

  .sidebar ul {
    margin-top: 20px; /* Add spacing to make it look better */
  }

  .sidebar ul li {
    padding: 15px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .sidebar ul li span {
    margin-left: 10px;
  }

  /* Adjust the main content to avoid overlap */
  .main-content {
    margin-left: 250px; /* Matches the sidebar width */
    padding: 20px;
  }

  /* Hide the overlay for desktop view */
  .overlay {
    display: none;
  }

  .hamburger {
    display: none; /* No need for the hamburger menu on larger screens */
  }
}

.sidebar ul .active-li {
  padding-left: 0 !important;
}
.sidebar ul li .active {
  color: #4caf50;
  align-items: center;
  display: flex;
  height: 100%;
  border-left: 5px solid #4caf50;
}

.sidebar ul li .active span {
  font-weight: bold;
  color: #4caf50;
}

.sidebar ul li .active svg {
  margin-left: 10px;
}
